In [44]:
# Imports and Variables used for testing
import pandas as pd
from IPython.display import display                                                                 # This creates the tables 

csv = "chesterfield_25-08-2021_09-00-00.csv"                                                        # Csv file
df = ""                                                                                             # Global for the DataFrame
count = ""                                                                                          # Global for count functions
column = "payment_type"                                                                             # Argument for functions
value = "CARD"                                                                                      # Argument for functions
columns = ['date_time', 'Location', 'full_name', 'order', 'amount', 'payment_type', 'card_number']  # Headers for the Chesterfield csv file
sanitise_these_columns = ['full_name', 'card_number']                                               # Columns list to be sanitised

In [45]:
# Remove given Columns
def extract_sanitise_csv(csv,sanitise_these_columns):
    try:
        global df # as Global to be able to print it outside the function
        df = pd.read_csv(csv, header=None, names=columns)
        df = df.drop(columns=sanitise_these_columns)
    except FileNotFoundError as fnfe:
        print(f'File not found: {fnfe}')

    return df

In [46]:
# Test previous function
extract_sanitise_csv(csv,sanitise_these_columns)
display(df.head(5))

,date_time,Location,order,amount,payment_type
0,25/08/2021 09:00,Chesterfield,Regular Flavoured iced latte - Hazelnut - 2.75...,5.2,CARD
1,25/08/2021 09:02,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",17.3,CARD
2,25/08/2021 09:04,Chesterfield,"Large Flat white - 2.45, Regular Latte - 2.15",4.6,CARD
3,25/08/2021 09:06,Chesterfield,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.0,CARD
4,25/08/2021 09:08,Chesterfield,"Regular Latte - 2.15, Large Latte - 2.45",4.6,CASH

In [16]:
# Returns the row in which a column contains a given value
def filter_by_column_value(csv,column,value):
    try:
        df = pd.read_csv(csv, header=None, names=columns)
        global contain_values # as Global to be able to print it outside the function
        contain_values = df[df[column].str.contains(value)]
    except FileNotFoundError as fnfe:
        print(f'File not found: {fnfe}')

    return contain_values

In [35]:
# Test previous function
filter_by_column_value(csv,column,value)
display(contain_values.head(10))

,date_time,Location,full_name,order,amount,payment_type,card_number
0,25/08/2021 09:00,Chesterfield,Richard Copeland,Regular Flavoured iced latte - Hazelnut - 2.75...,5.20,CARD,5.494174e+15
1,25/08/2021 09:02,Chesterfield,Scott Owens,"Large Flavoured iced latte - Caramel - 3.25, R...",17.30,CARD,6.844802e+15
2,25/08/2021 09:04,Chesterfield,Francis Strayhorn,"Large Flat white - 2.45, Regular Latte - 2.15",4.60,CARD,9.557104e+15
3,25/08/2021 09:06,Chesterfield,Rodney Drake,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.00,CARD,2.978328e+15
6,25/08/2021 09:12,Chesterfield,James Petrick,"Large Flavoured latte - Hazelnut - 2.85, Regul...",17.40,CARD,5.309043e+15
7,25/08/2021 09:14,Chesterfield,Ronald Hagy,"Regular Flavoured iced latte - Vanilla - 2.75,...",13.55,CARD,1.166596e+15
8,25/08/2021 09:17,Chesterfield,Lashawn Fant,"Regular Flavoured iced latte - Caramel - 2.75,...",12.55,CARD,8.790558e+15
9,25/08/2021 09:19,Chesterfield,James Folsom,"Large Flat white - 2.45, Large Flavoured latte...",5.30,CARD,8.722920e+15
11,25/08/2021 09:23,Chesterfield,Robyn Baker,Regular Latte - 2.15,2.15,CARD,4.284401e+15
12,25/08/2021 09:25,Chesterfield,Leonard Saari,"Large Flat white - 2.45, Large Latte - 2.45, L...",10.30,CARD,4.819037e+15

In [21]:
# Returns a count of the different values contained in a given column
def count_number_of_different_values(csv,column):
    try:
        df = pd.read_csv(csv, header=None, names=columns)
        global count  # as Global to be able to print it outside the function
        count = df[column].value_counts(ascending=True)
    except FileNotFoundError as fnfe:
         print(f'File not found: {fnfe}')
    return count

In [38]:
# Test previous function
count_number_of_different_values(csv,column)
print(str(count))

payment_type
CASH     85
CARD    183
Name: count, dtype: int64

In [25]:
# Counts the number of times a value is repeated on a given column
def count_number_of_times_a_value_is_repeated(csv,column,value):
    try:
        df = pd.read_csv(csv, header=None, names=columns)
        global count # as Global to be able to print it outside the function
        count = df[column].value_counts()[value]
    except FileNotFoundError as fnfe:
         print(f'File not found: {fnfe}')
    return count

In [39]:
# Test previous function
count_number_of_times_a_value_is_repeated(csv,column,value)
print("the value: " + value + " was found " + str(count) + " times.")

the value: CARD was found 183 times.