In [8]:
# Imports and Variables used for testing
import pandas as pd                                                                                 # Loads Pandas package 
import os                                                                                           # For OS related paths 

# Variable List (with their default value [Used in Testing])
raw_data_file = "chesterfield_25-08-2021_09-00-00.csv"                                              # Csv file on the raw_data subfolder
csv = ""                                                                                            # filepath to be read by functions, used after joint with raw_data_file
df = ""                                                                                             # Global for the DataFrame
count = ""                                                                                          # Global for count functions
column = "payment_type"                                                                             # Argument for functions
value = "CARD"                                                                                      # Argument for functions
columns = ['date_time', 'Location', 'full_name', 'order', 'amount', 'payment_type', 'card_number']  # Headers for the Chesterfield csv file
sanitise_these_columns = ['full_name', 'card_number']                                               # Columns list to be sanitised
path = "results/"                                                                                   # to add folder/subfolder/ if needed
newfile = "newfile.csv"                                                                             # File to be created

In [9]:
# Absolute path for raw data file under raw_data folder   takes filename.... returns path to rawdata folder plus filename
# takes the file name and returns 
def absolute_path_for_raw_data(raw_data_file):
    path = os.path.abspath("../raw_data")
    global csv
    csv = path + "\\" + raw_data_file
    return csv

In [10]:
# Remove given Columns
def extract_sanitise_csv(csv,sanitise_these_columns):
    try:
        global df # as Global to be able to print it outside the function
        df = pd.read_csv(csv, header=None, names=columns)
        df = df.drop(columns=sanitise_these_columns)
    except FileNotFoundError as fnfe:
        print(f'File not found: {fnfe}')

    return df

In [11]:
# Test for the previous function

# Current Files Chesterfield or Leeds (comment one out)
# raw_data_file = "chesterfield_25-08-2021_09-00-00.csv"
raw_data_file = "leeds_01-01-2020_09-00-00.csv"

absolute_path_for_raw_data(raw_data_file)  # returns csv variable with the absolut path
 
sanitise_these_columns = ['full_name', 'card_number']

extract_sanitise_csv(csv,sanitise_these_columns)
df.head(5)

,date_time,Location,order,amount,payment_type
0,01/01/2020 09:00,Leeds,"Regular Chai latte - 2.30, Regular Speciality ...",3.6,CASH
1,01/01/2020 09:01,Leeds,"Large Chai latte - 2.60, Regular Filter coffee...",4.1,CARD
2,01/01/2020 09:03,Leeds,Large Speciality Tea - English breakfast - 1.6...,2.9,CARD
3,01/01/2020 09:04,Leeds,"Large Chai latte - 2.60, Large Iced americano ...",7.6,CARD
4,01/01/2020 09:06,Leeds,Regular Hot Chocolate - 1.40,1.4,CARD

In [12]:
# Returns the row in which a column contains a given value
def filter_by_column_value(csv,column,value):
    try:
        df = pd.read_csv(csv, header=None, names=columns)
        global contain_values # as Global to be able to print it outside the function
        contain_values = df[df[column].str.contains(value)]
    except FileNotFoundError as fnfe:
        print(f'File not found: {fnfe}')

    return contain_values

In [13]:
# Test for the previous function

# Current Files Chesterfield or Leeds (comment one out)
# raw_data_file = "chesterfield_25-08-2021_09-00-00.csv"
raw_data_file = "leeds_01-01-2020_09-00-00.csv"

columns = ['date_time', 'Location', 'full_name', 'order', 'amount', 'payment_type', 'card_number']
value = "CARD"

filter_by_column_value(csv,column,value)
contain_values.head(10)

,date_time,Location,full_name,order,amount,payment_type,card_number
1,01/01/2020 09:01,Leeds,Matthew Palmer,"Large Chai latte - 2.60, Regular Filter coffee...",4.10,CARD,5.933193e+15
2,01/01/2020 09:03,Leeds,Mack Cendejas,Large Speciality Tea - English breakfast - 1.6...,2.90,CARD,2.728143e+15
3,01/01/2020 09:04,Leeds,Thomas Williams,"Large Chai latte - 2.60, Large Iced americano ...",7.60,CARD,2.992561e+15
4,01/01/2020 09:06,Leeds,Diane Ferree,Regular Hot Chocolate - 1.40,1.40,CARD,8.040887e+15
5,01/01/2020 09:08,Leeds,Bruce Watts,"Regular Chai latte - 2.30, Regular Filter coff...",3.80,CARD,2.242609e+15
6,01/01/2020 09:09,Leeds,Sergio Vanmeter,"Regular Iced americano - 2.15, Regular Hot Cho...",10.75,CARD,1.548663e+15
7,01/01/2020 09:11,Leeds,Rosemary Wertman,"Regular Filter coffee - 1.50, Regular Hot Choc...",8.40,CARD,6.706720e+15
8,01/01/2020 09:12,Leeds,Marcia Mason,"Large Iced americano - 2.50, Regular Chai latt...",4.80,CARD,2.590703e+15
12,01/01/2020 09:19,Leeds,Richard Redding,"Regular Hot Chocolate - 1.40, Large Filter cof...",6.85,CARD,4.480989e+15
13,01/01/2020 09:21,Leeds,Jean Wontor,Large Speciality Tea - English breakfast - 1.6...,4.10,CARD,3.200300e+15

In [14]:
# Returns the count of the different values contained in a given column
def count_number_of_different_values(csv,column):
    try:
        df = pd.read_csv(csv, header=None, names=columns)
        global count  # as Global to be able to print it outside the function
        count = df[column].value_counts(ascending=True)
    except FileNotFoundError as fnfe:
         print(f'File not found: {fnfe}')
    return count

In [15]:
# Test for the previous function

# Current Files Chesterfield or Leeds (comment one out)
# raw_data_file = "chesterfield_25-08-2021_09-00-00.csv"
raw_data_file = "leeds_01-01-2020_09-00-00.csv"

absolute_path_for_raw_data(raw_data_file) # returns csv variable with the absolut path

column = "payment_type" 

count_number_of_different_values(csv,column)
print(str(count))

payment_type
CASH    107
CARD    275
Name: count, dtype: int64

In [16]:
# Counts the number of times a value is repeated on a given column
def count_number_of_times_a_value_is_repeated(csv,column,value):
    try:
        df = pd.read_csv(csv, header=None, names=columns)
        global count # as Global to be able to print it outside the function
        count = df[column].value_counts()[value]
    except FileNotFoundError as fnfe:
         print(f'File not found: {fnfe}')
    return count

In [17]:
# Test for the previous function

# Current Files Chesterfield or Leeds (comment one out)
# raw_data_file = "chesterfield_25-08-2021_09-00-00.csv"
raw_data_file = "leeds_01-01-2020_09-00-00.csv"

absolute_path_for_raw_data(raw_data_file) # returns csv variable with the absolut path

column = "payment_type"
value = "CARD" 

count_number_of_times_a_value_is_repeated(csv,column,value)
print("the value: " + value + " was found " + str(count) + " times.")

the value: CARD was found 275 times.

In [25]:
# Saves Data frame to file as CSV

def save_df_to_csv(path,newfile):
    try:
        os.makedirs(path, exist_ok=True)  
        df.to_csv(path + newfile, header=False)

    except:
        print(f'Saving operation could not be completed')

In [26]:
# Test for the previous function
path = "results/" # to add folder/subfolder/ if needed
newfile = "newfile.csv"

save_df_to_csv(path,newfile)

In [20]:
# Saves Data frame to file as JSON

def save_df_to_json(path,newfile):
    try:
        with open(path + newfile, 'w') as f:
            f.write(df.to_json(orient='records', lines=True))

    except:
        print(f'Saving operation could not be completed')

In [21]:
# Test for the previous function
path = "results/" # to add folder/subfolder/ if needed
newfile = "newfile.json"

save_df_to_json(path,newfile)